[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
speechrecognition = "*"
pyaudio = "*"
pillow = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
